@import
url('https://fonts.googleapis.com/css2?family=Marcellus&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');
:root{
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #4f9de0 2.89%, #0B3860 80.34%);
}
*{
    margin:0;
}
body{
    font-family: 'Marcellus', serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
@media only screen and (min-width: 921px) {
    /* menu */
    /* menu */
    .nav{
        background-color: var(--negro2);
        grid-template-columns: 200px auto;
        grid-template-areas: 
        "logo menu";
}

    .logo {
        grid-area: logo;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "logo-img menu-bars";
        background-color: var(--negro2);
        padding: 1rem;
    }
    .logo img{
        width: 200px;
    }
    .item{
        padding: 1rem;
    }
    .nav a{
        color: var(--blanco);
        text-decoration: none;
    }
    .login{
        background-color: var(--azuloscuro);
    }
    .logo i{
        display: none;
    }
    
    .menu{
        background-color: var(--negro2);
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-self: end;
    }
    
    .menu-hr{
        display: none;
    }
    
    .item {
        margin: 0 1rem;
        align-self: center;
    }
    
    .nav a {
        text-align: left;
    }
    
    .nav a:hover {
        background-color: transparent;
        color: var(--azuloscuro);
    }
    
    .navbar-button {
        background-color: var(--azuloscuro);
        align-self: center;
    }
    
    
    .nav .menu-hr{
        display: none;
    } 
    .nav .menu .navbar-button {
        background-color: transparent;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5rem;
        font-family: 'Marcellus', serif;
        color: var(--blanco);
    }
    
    /* Seccion features */
    #features{
        background: url(../img/bg-features.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .features-title{
        background-color: rgba(0,0,0,0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }
    .feature{
        width: 20%;
        max-width: 250px;
        min-width: 120px;
        text-align: center;
        margin:  2rem ;
        padding: 2rem 1.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .feature i{
        font-size: 2.5em;
        padding: 0.5rem;
        margin-bottom: 1.5rem;
    }
    .feature-blue{
        background-color: rgba(0, 50, 94, 0.719);
    }
    .feature-black{
        background-color: rgba(0, 0, 0, 0.65);
    }
    .features-description{
        display: flex;
        justify-content: center;
    }
    .features-description .dividir{
        display: none;
    }
    /* aside */

    #aside{
        background: url(../img/slide1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        padding-top: 30%;
    }
    .inicio{
        background-color: rgba(0,0,0,0.35);
        padding: 2rem;
        font-size: 1.5em;
    }
    .inicio h1{
        width: 60%;
    }

    /* articulo con texto y imagen */
    #text{
        margin: 3rem;
        display: flex;
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }
    #text .texto{
        width: 50%;
        margin-right: 10rem;
        font-size: 1.3rem;
    }
    /* informacion de ubicanos */
    #ubicanos {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    #ubicanos .texto{
        padding: 0.5rem;
        font-size: 1.5em;
        letter-spacing: 3px;
    }
    #ubicanos .titulo{
        font-size: 2.5em;
        letter-spacing: 3px;
        margin-top: 2rem;
    }
    #ubicanos .direccion{
        border-bottom: solid 2px var(--azuloscuro);
    }
    #ubicanos .mapa{
        width: 100%;
        margin: 1rem;
    }
    /* informacion del footer */
    footer hr{
        display: none;
    }
    footer{
        background-color: var(--negro2);
        color: var(--blanco);
        text-decoration: none;
        padding: 2rem;
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
    footer .div{
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-bottom: 2.5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    footer .div a{
        color: var(--blanco);
        text-decoration: none;
        padding: 1rem;
    }
    footer .into{
        padding: 1rem;
        display: flex;
        margin: 0.5rem;
    }
    footer .div i{
        margin: 0.5rem;
        font-size: 1.2em;
    }

    /* opiniones */
    .tarjeta{
        margin: 2rem;
        width: 25rem;
        min-width: 350px;
        height: 16rem;
        background: var(--degradado);
        display: flex;
        flex-direction: column;
        color: var(--fondo);
        border-radius: 5px;
    }

    .tarjeta .img div{
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        background-image: url(../img/persona.jpg);
        background-size: 200%;
    }

    .tarjeta .usuario{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #0B3860;
        background-image: url(../img/Group\ 200.svg);
        background-size: 92%;
        background-position:right bottom;
        background-repeat: no-repeat;
        padding: 2rem 1rem 1rem 1rem;
        border-radius: 5px 5px 100% 18%;
    }
    .tarjeta .text{
        padding: 0.5rem 2rem 2rem 2rem;
    }
    .tarjeta .usuario h3{
        padding-bottom: 0.5rem;
    }
    .tarjeta .usuario .user{
        margin-left: 1.5rem;
    }
    .tarjeta .usuario .star i{
        padding-right: 1rem;
    }
    .opinion .titulo{
        background-color: var(--negro2);
        color: var(--blanco);
        padding: 2rem;
        letter-spacing: 2px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }
    .opiniones{
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        height: 6rem;
        background-color: var(--negro2);
    }
    .vacio{
        height: 25rem;
    }
    
}



/* Mobile */
@media only screen and (max-width: 920px) {
    .nav {
        grid-area: nav;
        display: grid;
        grid-template-areas:
            "logo"
            "menu";
        font-family: 'Marcellus', serif;
        font-size: 1.3em;
    }
    .logo {
        grid-area: logo;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "logo-img menu-bars";
        background-color: var(--negro2);
        padding: 1rem;
    }
    
    .item{
        padding: 1rem;
    }
    .nav a{
        color: var(--blanco);
        text-decoration: none;
    }
    .login{
        background-color: var(--azuloscuro);
    }
    .logo img {
        justify-self: start;
        width: 50%;
        max-width: 180px;
    }    
    
    .logo i {
        grid-area: menu-bars;
        justify-self: end;
        color: var(--blanco);
        font-size: 2rem;
    }
    .menu {
        grid-area: menu;
        display: grid;
        background-color: rgba(1, 10, 52, 0.838);
    }
    .menu-hr {
        width: 90%;
        background-color: var(--blanco);
        justify-self: center; /*para centrar el hr*/
    }
    
    .item {
        padding: 1rem 0;
    }
    
    .nav a {
        color: var(--blanco);
        text-decoration: none;
        text-align: center;
    }
    
    .nav a:hover {
        background-color: #0B3860;
        width: 100%;
    }
    
    .navbar-button {
        background-color: transparent;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5rem;
        font-family: 'Marcellus', serif;
        color: var(--blanco);
    }
    
    .nav .menu-hr{
        display: none;
    } 
    .nav .menu .navbar-button {
        background-color: transparent;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5rem;
        font-family: 'Marcellus', serif;
        color: var(--blanco);
    }
    
    /* Seccion features */
    #features{
        background: url(../img/bg-features.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #features h3{
        font-size: 1rem;
    }
    .features-title{
        background-color: rgba(0,0,0,0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.2em;
    }
    .feature{
        max-width: 250px;
        margin: 0.5rem;
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .feature i{
        font-size: 2.5em;
        padding: 0.5rem;
        margin-bottom: 1.5rem;
    }
    .feature-blue{
        background-color: rgba(0, 50, 94, 0.719);
    }
    .feature-black{
        background-color: rgba(0, 0, 0, 0.65);
    }
    .features-description{
        display: flex;
        justify-content: center;
    }
    .features-description .c {
        display: none;
    }
    /* aside */

    #aside{
        background: url(../img/slide1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        padding-top: 30%;
    }
    .inicio{
        background-color: rgba(0,0,0,0.35);
        padding: 2rem;
        font-size: 1.1em;
    }
    .inicio h1{
        width: 100%;
    }

    /* articulo con texto y imagen */
    #text{
        margin: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #text .texto{
        width: 100%;
        max-width: 500px;
        font-size: 1rem;
    }
    #text .img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem;
    }
    #text .img img{
        width: 100%;
        max-width: 200px;
    }

    /* informacion de ubicanos */
    #ubicanos {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    #ubicanos .texto{
        text-align: center;
        padding: 0.5rem;
        font-size: 1em;
        letter-spacing: 3px;
    }
    #ubicanos .titulo{
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 3px;
        margin-top: 2rem;
    }
    #ubicanos .direccion{
        border-bottom: solid 2px var(--azuloscuro);
    }
    #ubicanos .mapa{
        width: 100%;
        margin: 1rem;
    }
    /* informacion del footer */
    footer{
        background-color: var(--negro2);
        color: var(--blanco);
        text-decoration: none;
        padding: 2rem;
        display: flex;
        align-items: center;
        font-size: 1rem;
        flex-direction: column;
    }
    footer .div{
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        order: 3;
    }
    footer .div a{
        color: var(--blanco);
        text-decoration: none;
        padding: 1rem;
    }
    footer .into{
        padding: 1rem;
        display: flex;
        margin: 0.5rem;
    }
    footer .div i{
        margin: 0.5rem;
        font-size: 1.2em;
    }
    footer hr{
        width: 100%;
        max-width: 500px;
        order: 3;
    }
    /* opiniones */
    .tarjeta{
        margin: 2rem;
        width: 25rem;
        min-width: 350px;
        height: 16rem;
        background: var(--degradado);
        display: flex;
        flex-direction: column;
        color: var(--fondo);
        border-radius: 5px;
    }

    .tarjeta .img div{
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        background-image: url(../img/persona.jpg);
        background-size: 200%;
    }

    .tarjeta .usuario{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #0B3860;
        background-image: url(../img/Group\ 200.svg);
        background-size: 92%;
        background-position:right bottom;
        background-repeat: no-repeat;
        padding: 2rem 1rem 1rem 1rem;
        border-radius: 5px 5px 100% 18%;
    }
    .tarjeta .text{
        padding: 0.5rem 2rem 2rem 2rem;
    }
    .tarjeta .usuario h3{
        padding-bottom: 0.5rem;
    }
    .tarjeta .usuario .user{
        margin-left: 1.5rem;
    }
    .tarjeta .usuario .star i{
        padding-right: 1rem;
    }
    .opinion .titulo{
        background-color: var(--negro2);
        color: var(--blanco);
        padding: 2rem;
        text-align: center;
        letter-spacing: 2px;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }
    .opiniones{
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        height: 6rem;
        background-color: var(--negro2);
    }
    .vacio{
        height: 20rem;
    }
    /* carusell */
    
}